HCL function `format_date()`

Provide a `format_date()` function from stdlib (https://pkg.go.dev/github.com/zclconf/go-cty/cty/function/stdlib#FormatDate)

Example:
```hcl
    add_response_headers = {
      # format_date/date_format
      Last-Modified = format_date("Mon, 2 Jan 2006 15:04:05 MST") # Go
      Expires = format_date("EEE, d MMM yyyy HH:mm:ss z", unixtime() + 3600) # Java
    }
```

For the user we want to simplify the usage with specific parts of a date/timestamp. 
Which standard we would prefer? e.g. `YYYY-MM` vs `yyyy-mm` ?

Does a go library exist which fulfills this requirements?

Which input formats are valid?
`RFC3339 # 2006-01-02T15:04:05Z07:00`
Unix
ISO8601
RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"